---
import Layout from '@layouts/Layout.astro';
import { YouTube } from 'astro-embed';
---

<Layout title="Video">
  <div class="py-16 bg-white">
    <!-- Título y subtítulo -->
    <div class="text-center mb-12">
      <h1 class="text-4xl lg:text-5xl font-extrabold text-gray-800">
        Explora el Proyecto en Detalle
      </h1>
      <p class="text-lg lg:text-xl text-gray-600 mt-4 max-w-3xl mx-auto">
        En este video, te llevamos a través de una presentación detallada de nuestro proyecto, mostrando los diagramas, el diseño conceptual y la visión detrás de la solución.
      </p>
    </div>

    <!-- Video -->
    <div class="flex justify-center">
      <div class="w-full max-w-2xl shadow-md rounded-lg overflow-hidden">
        <YouTube id="W-D0tCwMb2o" title="Sistema de Gestión de Inventarios Embol (LogiStock)" />
      </div>
    </div>

    <!-- Detalles adicionales opcionales -->
    <div class="text-center mt-12">
      <p class="text-lg text-gray-500">
        Si tienes alguna duda o quieres más detalles, no dudes en contactarnos.
      </p>
    </div>
  </div>
</Layout>
