---
import { Picture } from "astro:assets";
import heroImage from "assets/hero.png"; // Asegúrate de que esta imagen sea relevante.
import LogoImage from "assets/logo.jpg"; // Asegúrate de que esta imagen sea relevante.
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<main class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 px-4 md:order-1 hidden md:block">
    <Picture
      src={LogoImage}
      alt="Logo del Sistema de Gestión de Almacenes"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1 class="text-4xl lg:text-5xl xl:text-6xl font-bold lg:tracking-tight xl:tracking-tighter text-ce">
      SISTEMA DE GESTIÓN DE INVENTARIO MINIMARKET MAMILUS

    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl text-justify">
      Una solución diseñada para optimizar la administración de inventarios mediante el uso de modelos de análisis y diseño. 
      Este sistema permitirá gestionar productos de manera estructurada, facilitando la toma de decisiones informadas.
      <br />
      Con el objetivo de mejorar la eficiencia operativa, nuestra plataforma ofrece herramientas para el seguimiento en tiempo real de los inventarios, generación de informes detallados y gestión de pedidos.
      <br />
      Además, este sistema está orientado a facilitar la integración con otros sistemas existentes, asegurando una transición fluida y una mejora continua en la gestión de almacenes.
    </p>
    
    
    <!-- <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="https://github.com/tu_usuario/tu_repositorio"
        class="flex gap-1 items-center justify-center"
        target="_blank"
        rel="noopener">
        <Icon class="text-white w-4 h-4" name="bx:bxl-github" />
        Repositorio en GitHub
      </Link>
    </div> -->
  </div>
</main>
